<h1>GNSCM</h1>
<div class="container">
  <p>Bienvenido a la página maqueta del proyecto</p>
  <center><img src="http://66.media.tumblr.com/6d803efe40f465899c73081feb1311bd/tumblr_inline_mzi9f2FTCn1qj3ir1.gif"> </center>
</div>
<div>
  <center><a type="button" class="btn btn-success" href="/encuesta">Hazme click para acceder a la maqueta de la encuesta</a></center>
</div>