<script>
    var clientId = '479974271507-lreefjdadolcuiv2fa4jt8l18eesqa0s';
    var apiKey = 'AIzaSyAm8ugWtDhfjtW--GG2z6Gk1vjOj5dakgg';
    // To enter one or more authentication scopes, refer to the documentation for the API.
    var scopes = 'https://www.googleapis.com/auth/drive';
    function handleClientLoad() {
        //console.log("Siii");
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth,1);
    }
    function checkAuth() {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
    }

    function handleAuthResult(authResult) {
        var authorizeButton = document.getElementById('authorize-button');
        var div1=document.getElementById('div1');
        var div2=document.getElementById('div2');
        var div3=document.getElementById('div3');
        var div4=document.getElementById('div4');
        var par1=document.getElementById('par1');
        var par2=document.getElementById('par2');
        var par3=document.getElementById('par3');
        var par4=document.getElementById('par4');
        var drop1=document.getElementById("drop1");
        var drop2=document.getElementById("drop2");
        var drop3=document.getElementById("drop3");
        var drop4=document.getElementById("drop4");
        if (authResult && !authResult.error) {
            //console.log("Siii");
            authorizeButton.style.visibility = 'hidden';
            div1.style.display='inline-block';
            div2.style.display='inline-block';
            div3.style.display='inline-block';
            div4.style.display='inline-block';
            par1.style.display='block';
            par2.style.display='block';
            par3.style.display='block';
            par4.style.display='block';
            drop1.style.display='block';
            drop2.style.display='block';
            drop3.style.display='block';
            drop4.style.display='block';
            makeApiCall();
        } else {
            authorizeButton.style.visibility = '';
            div1.style.display='none';
            div2.style.display='none';
            div3.style.display='none';
            div4.style.display='none';
            par1.style.display='none';
            par2.style.display='none';
            par3.style.display='none';
            par4.style.display='none';
            drop1.style.display='none';
            drop2.style.display='none';
            drop3.style.display='none';
            drop4.style.display='none';
            authorizeButton.onclick = handleAuthClick;
        }
    }


    function handleAuthClick(event) {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
        return false;
    }
    function retrieveAllFilesInFolder(folderId,callback,aux,nomb,nomb2) {
        var retrievePageOfChildren = function(request, result) {
            request.execute(function(resp) {
                result = result.concat(resp.items);
                var nextPageToken = resp.nextPageToken;
                if (nextPageToken) {
                    request = gapi.client.drive.children.list({
                        'folderId' : folderId,
                        'pageToken': nextPageToken
                    });
                    retrievePageOfChildren(request, result);
                } else {
                    callback(result,aux,nomb,nomb2);
                }
            });
        }
        var initialRequest = gapi.client.drive.children.list({
            'folderId' : folderId
        });
        retrievePageOfChildren(initialRequest, []);
    }
    function imprimir(result,aux,nomb,nomb2)
    {
        //console.log(result.length);
        var drop1=document.getElementById(nomb2);
        for (i=0; i<result.length; i++)
        {
            //console.log(result[i].id);
            for (j=0; j<aux.items.length; j++)
            {
                if(aux.items[j].id==result[i].id)
                {
                    var titulo = aux.items[j].title;
                    var fechaUpd = aux.items[j].modifiedDate;
                    var userUpd = aux.items[j].lastModifyingUserName;
                    //var tipo=aux.items[j].type;
                    //console.log("aca");
                    //console.log(aux.items[j].type);
                    if(titulo.includes("seccion"))
                    {
                        var option = document.createElement("option");
                        option.name=aux.items[j].id;
                        option.text = titulo;
                        drop1.add(option);
                    }
                }
            }
        }
    }
    function imprimir2(result,aux,nomb,nomb2,nomb4)
    {
        //console.log(result.length);
        document.getElementById(nomb4).innerHTML = "";
        for (i=0; i<result.length; i++)
        {
            for (j=0; j<aux.items.length; j++)
            {
                if(aux.items[j].id==result[i].id)
                {
                    var titulo = aux.items[j].title;
                    var fechaUpd = aux.items[j].modifiedDate;
                    var userUpd = aux.items[j].lastModifyingUserName;
                    var ars = document.createElement("a");
                    ars.id="ayuda"+i+j;
                    var img = document.createElement("img");
                    img.id="IMG"+i+j;
                    img.src = "https://drive.google.com/thumbnail?id=" + aux.items[j].id;
                    ars.href=aux.items[j].alternateLink;
                    console.log(aux.items[j].alternateLink);
                    var currentDiv = document.getElementById(nomb4);
                    ars.appendChild(img);
                    document.getElementById(nomb4).appendChild(ars);
                }
            }
        }
    }
    function buscar2(folderId,callback,aux,nomb,nomb2,sid,nomb4) {
        var retrievePageOfChildren = function(request, result) {
            request.execute(function(resp) {
                result = result.concat(resp.items);
                var nextPageToken = resp.nextPageToken;
                if (nextPageToken) {
                    request = gapi.client.drive.children.list({
                        'folderId' : sid,
                        'pageToken': nextPageToken
                    });
                    retrievePageOfChildren(request, result);
                } else {
                    callback(result,aux,nomb,nomb2,nomb4);
                }
            });
        }
        var initialRequest = gapi.client.drive.children.list({
            'folderId' : sid
        });
        retrievePageOfChildren(initialRequest, []);
    }
    function buscar(folderId,callback,aux,nomb,nomb2,sid,nomb4) {
        var retrievePageOfChildren = function(request, result) {
            request.execute(function(resp) {
                result = result.concat(resp.items);
                var nextPageToken = resp.nextPageToken;
                if (nextPageToken) {
                    request = gapi.client.drive.children.list({
                        'folderId' : folderId,
                        'pageToken': nextPageToken
                    });
                    retrievePageOfChildren(request, result);
                } else {
                    buscar2(result,imprimir2,aux,nomb,nomb2,sid,nomb4);
                }
            });
        }
        var initialRequest = gapi.client.drive.children.list({
            'folderId' : sid
        });
        retrievePageOfChildren(initialRequest, []);
    }
    function cambio1(valor,sid)
    {
        var id;
        console.log(valor);
        var kas=document.getElementById(sid);
        var largo = document.getElementById(sid).length;
        for (i=0; i<largo; i++)
        {
            if(kas.options[i].value.includes(valor))
            {
                id= kas.options[i].name;
            }
        }
        var request = gapi.client.drive.files.list ();

        request.execute(function(resp) {
            buscar("vista1",imprimir2,resp,valor,"drop1",id,"div1");
        });
    }
    function cambio2(valor,sid)
    {
        var id;
        console.log(valor);
        var kas=document.getElementById(sid);
        var largo = document.getElementById(sid).length;
        for (i=0; i<largo; i++)
        {
            if(kas.options[i].value.includes(valor))
            {
                id= kas.options[i].name;
            }
        }
        var request = gapi.client.drive.files.list ();

        request.execute(function(resp) {
            buscar("vista2",imprimir2,resp,valor,"drop2",id,"div2");
        });
    }
    function cambio3(valor,sid)
    {
        var id;
        console.log(valor);
        var kas=document.getElementById(sid);
        var largo = document.getElementById(sid).length;
        for (i=0; i<largo; i++)
        {
            if(kas.options[i].value.includes(valor))
            {
                id= kas.options[i].name;
            }
        }
        var request = gapi.client.drive.files.list ();

        request.execute(function(resp) {
            buscar("vista3",imprimir2,resp,valor,"drop3",id,"div3");
        });
    }
    function cambio4(valor,sid)
    {
        var id;
        console.log(valor);
        var kas=document.getElementById(sid);
        var largo = document.getElementById(sid).length;
        for (i=0; i<largo; i++)
        {
            if(kas.options[i].value.includes(valor))
            {
                id= kas.options[i].name;
            }
        }
        var request = gapi.client.drive.files.list ();

        request.execute(function(resp) {
            buscar("vista4",imprimir2,resp,valor,"drop4",id,"div4");
        });
    }
    // Load the API and make an API call.  Display the results on the screen.
    function makeApiCall() {
        var tes=document.getElementById("paraux").innerHTML;
        var tes2=document.getElementById("paraux2").innerHTML;
        //console.log(tes);
        //console.log(tes2);
        var dropcito=document.getElementById("drop5");
        var arr=tes.split(",");
        for(i=0; i<arr.length;i++)
        {
            var option = document.createElement("option");
            option.text = arr[i];
            dropcito.add(option);
        }
        var dropcito2=document.getElementById("drop6");
        var arr2=tes2.split(",");
        for(i=0; i<arr2.length;i++)
        {
            var option = document.createElement("option");
            option.text = arr2[i];
            dropcito2.add(option);
        }
        gapi.client.load('drive', 'v2', function() {
            var vista1,vista2,vista3,vista4;
            var request = gapi.client.drive.files.list ();


            request.execute(function(resp) {


                for (i=0; i<resp.items.length; i++)
                {
                    //console.log(resp.items[i].id);
                    if (resp.items[i].title.includes('vista1'))
                    {
                        var vista1=resp.items[i].id;
                        id1=vista1;
                        console.log("vista1_id"+vista1);

                    }
                    else if (resp.items[i].title.includes('vista2'))
                    {
                        var vista2=resp.items[i].id;
                        id2=vista2;
                        console.log("vista2_id"+vista2);

                    }
                    else if (resp.items[i].title.includes('vista3'))
                    {
                        var vista3=resp.items[i].id;
                        id3=vista3;
                        console.log("vista3_id"+vista3);

                    }
                    else if (resp.items[i].title.includes('vista4')) {
                        var vista4 = resp.items[i].id;
                        id4=vista4;
                        console.log("vista4_id" + vista4);

                    }
                }
                retrieveAllFilesInFolder(vista1,imprimir,resp,'div1',"drop1");
                retrieveAllFilesInFolder(vista2,imprimir,resp,'div2',"drop2");
                retrieveAllFilesInFolder(vista3,imprimir,resp,'div3',"drop3");
                retrieveAllFilesInFolder(vista4,imprimir,resp,'div4',"drop4");
            });

        });

    }
    </script>



<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
<div ng-app="permiso" class="container">
    <div ng-controller="PermisoController">
        <p id="par6" style="display: inline">Quitar Permisos:</p>
        <p id="paraux2" style="display: none"><%= datos2 %> </p>
        <select id="drop6" style="display: inline">
        </select>
        <button id="quitar" ng-click="gestionar_permisos2()">Quitar</button>
    </div>
</div>
<div id="App2" ng-app="permisos" class="container">
<div ng-controller="PermisosController">
    <p id="par5" style="display: inline">Otorgar Permisos:</p>
    <p id="paraux" style="display: none"><%= datos1 %> </p>
    <select id="drop5" style="display: inline">
    </select>
    <button id="otorgar" ng-click="gestionar_permisos()">Otorgar</button>
</div>
</div>

<button id="authorize-button" style="visibility: hidden">Sincronizar Drive</button>
<p id="par1" style="display: none">Vista1</p>
<select id="drop1" style="display: none" onchange="cambio1(this.value,this.id)">
</select>
<div id="div1" class="well" style="display: none">
</div>
<p id="par2" style="display: none">Vista2</p>
<select id="drop2" style="display: none" onchange="cambio2(this.value,this.id)">
</select>
<div id="div2" class="well" style="display: none">
</div>
<p id="par3" style="display: none">Vista3</p>
<select id="drop3" style="display: none" onchange="cambio3(this.value,this.id)">
</select>
<div id="div3" class="well" style="display: none">
</div>
<p id="par4" style="display: none">Vista4</p>
<select id="drop4" style="display: none" onchange="cambio4(this.value,this.id)">
</select>
<div id="div4" class="well" style="display: none">
</div>

<script>
    angular.module('permiso', []).controller('PermisoController', function($scope, $http, $log, $window)
    {

        $scope.gestionar_permisos2 = function () {
            var mail = document.getElementById("drop6").value;
            var request = gapi.client.drive.permissions.getIdForEmail({
                'email': mail,
            });
            request.execute(function(resp) {
                console.log('ID: ' + resp.id);
                var request = gapi.client.drive.permissions.delete({
                    'fileId': "0B0gyt5W2MXfTcnF1NjdUanVzVm8",
                    'permissionId': resp.id
                });
                var request2 = gapi.client.drive.permissions.delete({
                    'fileId': "0B0gyt5W2MXfTZHk3ZGtPb2RON28",
                    'permissionId': resp.id
                });
                var request3 = gapi.client.drive.permissions.delete({
                    'fileId': "0B0gyt5W2MXfTNkdoVXU0WkYxMFk",
                    'permissionId': resp.id
                });
                var request4 = gapi.client.drive.permissions.delete({
                    'fileId': "0B0gyt5W2MXfTdlF6MEJhWWtSS3M",
                    'permissionId': resp.id
                });
                request.execute(function(resp) { });
                request2.execute(function(resp) { });
                request3.execute(function(resp) { });
                request4.execute(function(resp) { });

            });

            console.log(mail);
            $http ({
                method: 'POST',
                url: '/adminview',
                data:
                {
                    respuestas: mail,
                    tipo: "quitar"
                }
            }).then(function successCallback(response)
            {
                $window.location.href='/adminview';
            });
        }
    });
    angular.module('permisos', []).controller('PermisosController', function($scope, $http, $log, $window)
    {

        $scope.gestionar_permisos = function () {
            var mail = document.getElementById("drop5").value;
            var body = {
                'value': mail,
                'type': "user",
                'role': "writer"
            };
            var request = gapi.client.drive.permissions.insert({
                'fileId': "0B0gyt5W2MXfTcnF1NjdUanVzVm8",
                'resource': body
            });
            var request2 = gapi.client.drive.permissions.insert({
                'fileId': "0B0gyt5W2MXfTZHk3ZGtPb2RON28",
                'resource': body
            });
            var request3 = gapi.client.drive.permissions.insert({
                'fileId': "0B0gyt5W2MXfTNkdoVXU0WkYxMFk",
                'resource': body
            });
            var request4 = gapi.client.drive.permissions.insert({
                'fileId': "0B0gyt5W2MXfTdlF6MEJhWWtSS3M",
                'resource': body
            });
            request.execute();
            request2.execute();
            request3.execute();
            request4.execute();

            console.log(mail);
            $http ({
                method: 'POST',
                url: '/adminview',
                data:
                {
                    respuestas: mail,
                    tipo: "otorgar"
                }
            }).then(function successCallback(response)
            {
                $window.location.href='/adminview';
            });
        }
    });
    angular.bootstrap(document.getElementById("App2"), ['permisos']);
</script>
