<h1>GNSCM</h1>
<div class="container">
  <p>Bienvenido a la página maqueta del proyecto</p>
</div>
<div>
  <center><a type="button" class="btn btn-success" href="/encuesta">Hazme click para acceder a la maqueta de la encuesta</a></center>
  <center><a type="button" class="btn btn-success" href="/folder">Hazme click para acceder a test de carpeta Drive</a></center>
</div>