<center>
    <h1>GNSCM </h1>
    v0.5.0
    <p>
        Bienvenido a la página maqueta del proyecto<br>
        <div id="txt"></div>
    </p>
</center>

<style>
h1
{
    display: inline;
}
</style>

<!--
Implementar flash-messages tras un logout
Mostrar datos utiles (en index o en la navbar): hora, fecha, noticias, anuncios, version actual
-->
